{% extends "base/base.html" %}
{% block navbar_content_left %}
    {% if user.is_superuser %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'update_product' product.pk %}">Edit product</a>
        </li>
    {% endif %}

{% endblock %}
{% block content %}
    {% if user.is_superuser %}
        <form method="post" action="{% url 'delete_product' product.pk %}">
            {% csrf_token %}
            <div class="d-grid gap-2 mt-5">
                <input class="btn btn-primary mx-auto" type="submit" value="Delete product"/>
            </div>
        </form>
    {% endif %}
    <table class="table w-50 mx-auto mt-2">
        <thead>
        <tr>
            <th scope="col" class="text-center"> Info</th>
            <th scope="col" class="text-center"></th>
        </tr>
        </thead>
        <tbody class="table_borders">
        <tr>
            <td class="text-center"><span> Name </span></td>
            <td class="text-center"><span> {{ product.name }} </span></td>
        </tr>
        <tr>
            <td class="text-center"><span> Cost </span></td>
            <td class="text-center"><span> {{ product.cost }} </span></td>
        </tr>
        <tr>
            <td class="text-center"><span> About </span></td>
            <td class="text-center"><span> {{ product.content}} </span></td>
        </tr>
        <tr>
            <td class="text-center"><span> Category </span></td>
            <td class="text-center"><span> {{ product.category.name}} </span></td>
        </tr>
        <tr>
            <td class="text-center"><span> Photo </span></td>
            <td class="text-center"><p> <img src={{ product.photo.url }} ></p></td>
        </tr>
    </table>
    {% if user.is_authenticated %}

        <form method="post" action="{% url "make_order" product.pk %}">
            {% csrf_token %}
            {% for f in form %}
                <div class="mb-3 mx-auto mt-5" style="width: 14%">
                    <label class="form-label"> {{ f.label}}:</label>
                    <p>{{ f }}</p>
                    <div class="form-error">{{ f.errors }}</div>
                </div>
            {% endfor %}
            <div class="d-grid gap-2">
                <input class="btn btn-primary mx-auto" type="submit" value="Add to cart"/>
            </div>
        </form>

    {% endif %}
{% endblock %}