{% extends "base/base.html" %}

{% block content %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for f in form %}
            {% if f.label == "Profile pic" %}
                <div class="mb-3 mx-auto mt-5" style="width: 14%">
                    <label class="form-label"> {{ f.label}}:</label>
                    <input type="file"  name="{{ f.name }}">
                    <div class="form-error">{{ f.errors }}</div>
                </div>
            {% else %}
                <div class="mb-3 mx-auto mt-5" style="width: 14%">
                    <label class="form-label"> {{ f.label}}:</label>
                    <p>{{ f }}</p>
                    <div class="form-error">{{ f.errors }}</div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="d-grid gap-2">
            <input class="btn btn-primary mx-auto" type="submit" value="Save"/>
        </div>
    </form>
{% endblock %}